.text-container {
  padding: 8rem 2rem 0 0;
  /* padding-top: 8rem; */
  width: 40dvw !important;
  text-align: right;
}

.team-name {
  font-size: 4rem;
  padding-left: 10rem;
  font-weight: bold;
}

.team-description {
  font-size: 1.5rem;
}

.team-role {
  display: flex;
  align-content: center;
  height: 10rem;
  margin-bottom: 10px;
}

.team-role>.badge {
  width: 10rem;
  height: 1.5rem;
  transform: rotate(-90deg);
}

.card-member {
  width: 10rem !important;
}