.text-container {
  padding-top: 8rem;
}

.team-name {
  font-size: 4rem;
  padding-left: 10rem;
  font-weight: bold;
}

.team-description {
  font-size: 1.5rem;
}

.team-members {
  padding-top: 5rem;
}

.team-role {
  display: inline-block;
  transform: rotate(-90deg);
  width: 10rem;
}
