.title {
  font-size: 3rem;
  text-transform: uppercase;
}

.main-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.main-pictures div {
  position: relative;
}

.main-pictures .text-overlay.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 2rem;
}

.main-pictures .text-overlay.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}

.main-pictures .text-overlay.top-right {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

.main-pictures .text-overlay.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.main-pictures .text-overlay .name {
  font-size: 1.5rem;
}

.main-pictures .text-overlay .shotgun {
  font-size: 1rem;
}

.day {
  text-transform: uppercase;
}

.day,
.name,
.shotgun {
  margin: 0;
  /* Retirer les marges par défaut */
  padding: 5px;
  /* Ajustez selon vos besoins */
}

.daily-event {
  margin: 5rem;
}

.daily-event .today {
  font-size: 2rem;
}

.daily-event .events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}