.first-container {
  background-image: url("src\\assets\\images\\homePage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-on-image {
  font-family: Grafton, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  color: white;
  text-align: center;
}

.text-on-image.principal {
  font-size: 3rem;
}

.text-on-image.secondary {
  font-size: 1.5rem;
  padding-top: 10rem;
}

.second-container {
  background-color: white;
  padding-top: 5rem;
}

.sponsors {
  padding: 2rem;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .text-on-image.principal {
    font-size: 2rem;
  }

  .text-on-image.secondary {
    font-size: 1rem;
  }
}