@keyframes zoomOutAnimation {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.bg-image {
  background-image: url("src/assets/images/homePage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Assurez-vous que l'image de fond est derrière le texte */
  animation: zoomOutAnimation 1.5s ease-out forwards;
}

.first-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-on-image {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal {
  font-size: 4rem;
  opacity: 1;
  visibility: visible;
}

.secondary {
  font-size: 2rem;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.arrow-down {
  width: 5rem;
}

.video-container {
  font-size: 3rem;
  padding-top: 2rem;
}

.video-player {
  width: 75dvw;
  margin: auto;
}

.sponsors {
  padding: 2rem;
  font-size: 3rem;
}

.carousel {
  padding-top: 8rem;
}

.second-container {
  padding-top: 0rem;
}

.footer-container {
  padding-top: 8rem;
}

@media only screen and (max-width: 768px) {
  .principal {
    font-size: 1.8rem;
  }

  .secondary {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
  }

  .video-container {
    font-size: 1.7rem;
    padding-top: 2rem;
  }

  .video-player {
    width: 100dvw;
  }

  .sponsors {
    padding: 1rem;
    font-size: 1.7rem;
  }

  .carousel {
    padding-top: 5rem;
  }

  .arrow-down {
    width: 4rem;
  }
}