.first-container {
  background-image: url("src/assets/images/homePage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-on-image {
  color: white;
  text-align: center;
}

.text-on-image.principal {
  font-size: 4rem;
  padding-top: 10rem;
}

.text-on-image.secondary {
  font-size: 2rem;
  padding-top: 7rem;
}

.video-container {
  font-size: 3rem;
  padding-top: 2rem;
}

.sponsors {
  padding: 2rem;
  font-size: 3rem;
}

.carousel {
  padding-top: 8rem;
}

.second-container {
  padding-top: 0rem;
}

.footer-container {
  padding-top: 8rem;
}
@media only screen and (max-width: 768px) {
  .text-on-image.principal {
    font-size: 2rem;
  }

  .text-on-image.secondary {
    font-size: 1rem;
  }

  .video-container {
    font-size: 2.2rem;
    padding-top: 2rem;
  }

  .sponsors {
    padding: 1rem;
    font-size: 2.2rem;
  }

  .carousel {
    padding-top: 5rem;
  }
}
