html,
body {
  font-family: "LuckiestGuy", sans-serif !important;
  font-feature-settings: "liga" 1, "calt" 1;
}

/* Fix Navbar width */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

html,
.navbar {
  width: 100vw !important;
}

.root {
  height: 100dvh;
}

.fullscreen-container {
  min-height: 100dvh;
  padding-top: 8rem;
}

.channel-ads-banner,
.page-sidebar .subscribe,
.ads,
#banner1,
#google_ads_div_ADS_300_250 {
  display: none !important;
}