/* Import polices */
@font-face {
  font-family: "Nunito";
  src: url("src/assets/fonts/Nunito-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Nunito", sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

/* Fix Navbar width */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

html,
.navbar {
  width: 100vw !important;
}

.fullscreen-container {
  min-height: 100dvh;
  font-family: Nunito, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  padding-top: 8rem;
}