 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'PT Sans', sans-serif;
 }

 *:focus {
   outline: none;
 }

 body {
   overflow: hidden;
 }

 #root {
   height: 100dvh;
 }

 .app {
   height: 100dvh;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: calc(50%) calc(100%);
 }

 .box-center {
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
 }

 .scroller {
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
   overflow-x: hidden;
   height: calc(100dvh - 100px) !important;
   scroll-behavior: smooth;
 }

 .scroller::-webkit-scrollbar {
   width: 15px;
 }

 .scroller::-webkit-scrollbar-thumb {
   background: rgb(255, 255, 255, 0.13);
   border: 4px solid transparent;
   border-radius: 20px;
   background-clip: padding-box;
 }


 .scroller::-webkit-scrollbar-track {
   background: #111;
 }

 input,
 button {
   border: none;
   outline: none;
   -webkit-appearance: none;
   appearance: none;
   box-shadow: none !important;
 }

 input:-webkit-autofill,
 input:-webkit-autofill:focus {
   transition: background-color 600000s 0s, color 600000s 0s;
 }

 @media screen and (max-width: 960px) {

   html {
     overflow-x: hidden;
     width: 100%;
   }

   body {
     height: 100%;
     width: 100%;
     position: fixed;
   }

   .scroller {
     height: calc(100dvh - 70px) !important
   }

   ::-webkit-scrollbar {
     display: none;
   }

   ::-webkit-scrollbar-thumb {
     display: none;
   }


   ::-webkit-scrollbar-track {
     display: none;
   }


 }