/* Import polices */
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LuckiestGuy";
  src: url("/src/assets/fonts/LuckiestGuy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}