.footer-container {
  padding-top: 6rem;
  padding-bottom: 20px;
}

.text-center .text-footer {
  padding-top: 1rem;
  font-size: 0.8rem;
}

.socials {
  padding-top: 1rem;
}

.socials img {
  margin: 5px;
  /* Ceci ajoutera une marge tout autour des images */
}

.legals {
  padding-top: 1rem;
  font-size: 0.8rem;
}

.footer-container .footer-copyrigth {
  padding-top: 1rem;
  font-size: 1rem;
}

.footer-container p {
  font-family: Nunito, sans-serif;

}

.footer-copyrigth p {
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  .socials .tik-tok-logo {
    height: 30px;
    width: 30px;
  }

  .socials .instagram-logo {
    height: 30px;
    width: 30px;
  }

  .title-text {
    font-weight: 100;
    font-size: 0.8rem;
  }

  .text-center .text-footer {
    font-size: 0.6rem;
    padding-top: 0;
    margin-bottom: 1rem;
  }

  .legals {
    font-size: 0.4rem;
  }

  .footer-container {
    padding: 0;
    padding-top: 1rem;
    margin-top: 3rem;
  }

  .footer-container .footer-copyrigth {
    font-size: 0.5rem;
  }

  .footer-container .row {
    flex-direction: column;
  }

  .footer-container p {
    margin-bottom: 0.5rem;
  }

  .socials {
    padding-top: 0;
    margin-bottom: 1rem;
  }

  .legals {
    padding-top: 0;
  }

}