.title .image-responsive {
  width: 50vw;
}

.days .image-responsive {
  margin: 1rem;
  margin-left: 6rem;
  width: 75vw;
}

.times {
  padding-left: 2rem;
  width: auto;
}

.events {
  padding-top: 2rem;
}

.image-responsive-times {
  margin: 1rem;
  height: 45vh;
}

.image-responsive-events {
  height: 45vh;
}

.image-responsive-allos {
  margin: 1rem;
  height: 12vh;
}

.image-responsive-allos2 {
  height: 13.1vh;
}
