.planning {
  scale: 1.2;
}

@media only screen and (max-width: 768px) {
  .d-md-none {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    margin: 1rem;
  }
}
