.title .image-responsive {
  width: 40vw;
}

.days .image-responsive {
  margin: 1rem;
  width: 75vw;
}

.times {
  padding-left: 2rem;
  width: auto;
}

.events {
  padding-top: 2rem;
}

.image-responsive-times {
  margin: 1rem;
  height: 10vw;
}

.image-responsive-events {
  height: 10vw;
}

.image-responsive-allos {
  margin: 1rem;
  height: 10vw;
}

.image-responsive-allos2 {
  height: 10vw;
}
